#page-landing #container{
    max-width: 100vw;
    height: 100vh;
}

#page-landing main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #FAFAFA;
}

main .caixa{
    margin: 0 auto;
    width: 1000px;
    padding: 3rem 5rem;
    border: #FCC06D solid 1.5px;
    border-radius: 0.8rem;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
}

main .listagem{
    margin: 0 auto;
    width: 1000px;
    margin-top: 5rem;
}

main .listagem .alerta{
    color: #FCC06D;
    font-size: 4rem;
}

main .listagem .titulo-tabela{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

main .listagem .tabela th{
    padding: 1rem;
    color: black;
    font-size: 1.8rem;
    text-align: start;
}

main .listagem .tabela tr{
    border-bottom: #FCC06D solid 1.5px;
}

main .listagem .tabela td{
    font-size: 1.7rem;
    padding: 1.8rem 1.2rem;
}

main .listagem .tabela td a{
    color: black;
}

main .listagem .tabela tr .nome{
    width: 40rem;
}

main .listagem .tabela tr .data{
    width: 16rem;
}

main .listagem .tabela tr .preco{
    width: 14rem;
}

main .listagem .tabela .status{
    border: none;
    font-size: 1.7rem;
}

main .listagem .tabela .botao-acao{
    margin-left: 2rem;
}

main .listagem .tabela .botao{
    padding: 1.2rem;
    color: white;
    background-color: #0C6FF9;
    font-size: 1.5rem;
}