#page-landing #container{
    max-width: 100vw;
    height: 100vh;
}

#page-landing main{
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #FAFAFA;
}

main .caixa{
    margin: 0 auto;
    width: 1000px;
    padding: 3rem 5rem;
    border: #FCC06D solid 1.5px;
    border-radius: 0.8rem;
    background-color: #ffffff;
}

.caixa form fieldset{
    border: none;
    margin-top: 2rem;
}

main .caixa .titulo {
    font-family: 'Roboto', 'sans serif';
    font-size: 3rem;
    color: #000000;

    margin-bottom: 2rem;
    margin-right: 2rem;
}

.caixa form fieldset .coluna{
    display: flex;
    justify-content: flex-start;
}

.caixa form fieldset .campo{
    margin-top: 1.3rem
}

.caixa form fieldset label{
    display: block;
    font-family: 'Roboto', 'Sans serief';
    font-size: 1.7rem;
    margin-bottom: 0.8rem;
    color: #4B4C4D;
}

.caixa form fieldset input{
    padding: 0.5rem 1rem;
    border: #4B4C4D solid 1px;
}

.caixa form fieldset select{
    padding: 0.5rem 1rem;
    border: #4B4C4D solid 1px;
}

.caixa form fieldset .esp{
    margin-right: 2.5rem;
}

.caixa form fieldset .p{
    width: 20rem;
}

.caixa form fieldset .m{
    width: 30rem;
}

.caixa form fieldset .g{
    width: 40rem;
}

.caixa form .div-botao {
    display: flex;
    align-content: center;
    justify-content: center;

    margin-top: 2rem;
}

.caixa form .div-botao .botao{
    background-color: #FCC06D;
    padding: 0.8rem 2rem;
    color:#ffffff;
    font-size: 1.5rem;
    font-family: 'Roboto', 'sans serief';
    border: none;
}

.opcao_bloco {
    display: flex;
    align-items: center;
}

.opcao {
    margin-bottom: 0 !important;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.titulo_opcao {
    font-family: 'Roboto', 'Sans serief';
    font-size: 1.7rem;
    color: #4B4C4D;
    margin-bottom: 0.8rem;
}

table {
    border-collapse: collapse;
  }

main .listagem{
    margin: 0 auto;
    width: 1000px;
    margin-top: 5rem;
}

main .listagem .alerta{
    color: #FCC06D;
    font-size: 4rem;
}

main .listagem .titulo-tabela{
    font-size: 2.5rem;
}

main .listagem .tabela th{
    padding: 1rem;
    color: white;
    background-color: #FCC06D;
    font-size: 1.8rem;
    text-align: start;
}

main .listagem .tabela tr{
    border-top: #FCC06D solid 1.5px;
    border-bottom: #FCC06D solid 1.5px;
}

main .listagem .tabela td{
    font-size: 1.7rem;
    padding: 1.8rem 1.2rem;
}

main .listagem .tabela td a{
    color: black;
}

main .listagem .tabela tr .nome{
    width: 40rem;
}

main .listagem .tabela tr .cpf{
    width: 16rem;
}

main .listagem .tabela tr .telefone{
    width: 14rem;
}

main .listagem .tabela tr .email{
    width: 40rem;
}

main .listagem .tabela .botao-excluir{
    margin-left: 2rem;
}

main .listagem .tabela .botao{
    padding: 1.2rem;
    color: white;
    background-color: #FCC06D;
    font-size: 1.5rem;
}