:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 100vw;
    max-width: 700px;
}

.page-header .top-bar-container{
    width: 100%;
    margin: 0 auto;
    padding: 1.8rem 2.5rem;

    display: flex;

    background-color: #ffffff;
}

.cliente .page-header .top-bar-container{
    justify-content: space-between;
}

.cliente .page-header .top-bar-container .marca{
    display: flex;
}

.page-header .top-bar-container h2{
    font-family: 'Roboto', 'sans-serif';
    font-size: 3.5rem;
    font-weight: bold;
    color: #000000;
}

.page-header .top-bar-container .logo{
    background-color: #FCC06D;
    width: 40px;
    height: 40px;

    margin-right: 1.5rem;
}

.cliente .page-header .top-bar-container .user{
    display: flex;
    align-items: center;
}

.cliente .page-header .top-bar-container .user p{
    font-size: 2rem;
    color:#FCC06D;
    margin-right: 2rem;
}

.cliente .page-header .top-bar-container .user a{
    background-color: #FCC06D;
    padding: 0.5rem;
    border-radius: 0.9rem;
    color: white;
}

.cliente .page-header .top-bar-container .carrinho{
    width: 20px;
    height: 18px;
}

.admin .page-header .top-bar-container{
    align-items: center;
}

a{
    text-decoration: none;
}

@media (min-width: 700px) {
    :root{
        font-size: 60%;
    }
}