#page-landing #container{
    max-width: 100vw;
    height: 100vh;
}

#page-landing main{
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #FAFAFA;
}

main .caixa{
    margin: 0 auto;
    width: 1000px;
    padding: 3rem 5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.caixa form fieldset{
    border: none;
    margin-top: 2rem;
}

main .caixa .titulo {
    font-size: 3rem;
    color: #000000;

    margin-bottom: 2rem;
    margin-right: 2rem;
}

.caixa form .coluna{
    display: flex;
    justify-content: flex-start;
}

.caixa form fieldset label{
    display: block;
    font-size: 1.7rem;
    margin-bottom: 0.8rem;
    color: #4B4C4D;
}

.caixa form fieldset input{
    padding: 0.5rem 1rem;
    border: #4B4C4D solid 1px;
}

.caixa form fieldset select{
    padding: 0.5rem 1rem;
    border: #4B4C4D solid 1px;
}

.caixa form .esp{
    margin-right: 2.5rem;
}

.caixa form fieldset .p{
    width: 20rem;
}

.caixa form fieldset .m{
    width: 30rem;
}

.caixa form fieldset .g{
    width: 40rem;
}

.caixa form .div-botao {
    display: flex;
    align-content: center;
    justify-content: center;

    margin-top: 2rem;
}

.caixa form .div-botao .botao{
    background-color: #0C6FF9;
    padding: 0.8rem 2rem;
    color:#ffffff;
    font-size: 1.5rem;
    border: none;
}

.opcao_bloco {
    display: flex;
    align-items: center;
}

.opcao {
    margin-bottom: 0 !important;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.titulo_opcao {
    font-size: 1.7rem;
    color: #4B4C4D;
    margin-bottom: 0.8rem;
}

table {
    border-collapse: collapse;
}

main .listagem{
    margin: 0 auto;
    margin-top: 2rem;
}

main .listagem .titulo-tabela{
    font-size: 2rem;
}

main .listagem .tabela th{
    padding: 1rem;
    color: black;
    font-size: 1.8rem;
    text-align: start;
}

main .listagem .tabela tr{
    border-bottom: #FCC06D solid 1.5px;
}

main .listagem .tabela td{
    font-size: 1.7rem;
    padding: 1.8rem 1.2rem;
}

main .listagem .tabela tr .nome{
    width: 40rem;
}

main .listagem .tabela tr .cpf{
    width: 16rem;
}

main .listagem .tabela tr .telefone{
    width: 14rem;
}

main .listagem .tabela tr .email{
    width: 40rem;
}

main .listagem .tabela .botao{
    padding: 1.2rem;
    color: white;
    background-color: #FCC06D;
    font-size: 1.5rem;
}

.caixa .sub-categorias{
    color: black;
    font-size: 1.8rem;

    margin-bottom: 1rem;
}

.caixa .info-cliente {
    margin-bottom: 2rem;
}

.caixa .info-cliente th{
    padding: 1rem;
    font-size: 1.7rem;
    text-align: start;
}

.caixa .info-cliente td{
    font-size: 1.5rem;
    padding: 1.8rem 1.2rem;
}

.caixa .info-cliente tbody tr{
    border: #FCC06D solid 1px;
}

.quantidade{
    width: 5rem;
    text-align: center;
    border: none;
}

.caixa .cupom-label{
    display: block;
    font-size: 1.7rem;
    margin-bottom: 0.8rem;
    color: #FCC06D;
    font-weight: bold;
}

.caixa .cupom{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.caixa .frete{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
}

.explicacao{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.categoria-info {
    border-bottom: #FCC06D 1.5px solid;
    padding: 2rem 0;
}

.caixa .botao-editar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.caixa .editar{
    padding: 1rem;
    background-color: #0C6FF9;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.caixa .cupons{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.livro{
    width: 8rem;
}

.caixa .label-total{
    display: block;
    font-size: 3rem;
    margin-bottom: 0.8rem;
    color: #FCC06D;
    font-weight: bold;
    margin-top: 2rem;
}

.caixa .val-total{
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border: none;
}

.campo{
    margin-bottom: 2.3rem;
}