<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!--<link th:href="@{/css/perfil-cliente.css}" rel="stylesheet">-->
    <link th:href="@{/css/detalhes-livro.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container" class="cliente">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="marca">
                <div class="logo"></div>
                <h2><a th:href="@{/livros/principal/{clienteId}(clienteId=${cliente.id})}">ReadMore Books</a></h2>
            </div>
            <div class="user">
                <p><a>Usuário</a></p>
                <p>
                    <a th:href="@{/compras/lista-compra/{clienteId}(clienteId=${cliente.id})}"><img th:src="@{/img/sacolas-compras.png}" alt="" class="carrinho"></a>
                </p>
                <a th:href="@{/compras/carrinho-compras/{clienteId}(clienteId=${cliente.id})}"><img th:src="@{/img/carrinho-compras.png}" alt="" class="carrinho"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="menu">
            <div class="listagem">
                <div class="div-tabela">
                    <table class="tabela">
                        <thead>
                        <tr>
                            <th>Menu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/livros/principal/{clienteId}(clienteId=${cliente.id})}">Início</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/clientes/perfil-cliente/{clienteId}(clienteId=${cliente.id})}">Perfil de usuário</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/compras/cupons/{clienteId}(clienteId=${cliente.id})}">Cupons disponíveis</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/compras/lista-compra/{clienteId}(clienteId=${cliente.id})}">Histórico de pedidos</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="conteudo">
            <div class="caixa">
                <div class="titulo">
                    <p class="detalhe">Detalhes do livro</p>
                </div>
                <form class="perfil" th:object="${livro}">
                    <div class="dados-form">
                        <fieldset>
                            <div class="coluna">
                                <div class="campo esp">
                                    <img th:src="@{/img/livro.png}" alt="" class="livro">
                                </div>
                                <div class="campo esp">
                                    <label for="titulo" id="label-titulo">Título</label>
                                    <input class="g" type="text" id="titulo" th:field="*{titulo}" readonly>
                                </div>
                                <div class="campo">
                                    <label for="preco" id="label-preco">Preço</label>
                                    <input class="p" type="text" id="preco" th:field="*{preco}" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="autor">Autor</label>
                                    <input class="g" type="text" id="autor" th:field="*{autor}" readonly>
                                </div>
                                <div class="campo esp">
                                    <label for="ano">Ano</label>
                                    <input class="p" type="text" id="ano" th:field="*{ano}" readonly>
                                </div>
                                <div class="campo">
                                    <label for="edicao">Edição</label>
                                    <input class="p" type="text" id="edicao" th:field="*{edicao}" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="isbn">ISBN</label>
                                    <input class="g" type="text" id="isbn" th:field="*{isbn}" readonly>
                                </div>
                                <div class="campo esp">
                                    <label for="n_paginas">Número de páginas</label>
                                    <input class="p" type="text" id="n_paginas" th:field="*{numPaginas}" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="sinopse">Sinopse</label>
                                    <textarea name="" id="sinopse" cols="60" rows="3" th:field="*{sinopse}" readonly>
                                </textarea>
                                </div>
                                <div class="campo">
                                    <label for="categoria" class="opcao">Categoria</label>
                                    <input type="text" id="categoria" th:field="*{categoria}" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="editora">Editora</label>
                                    <input class="g" type="text" id="editora" th:field="*{editora}" readonly>
                                </div>
                                <div class="campo">
                                    <label for="cod_barras">Código de barras</label>
                                    <input class="g" type="text" id="cod_barras" th:field="*{codBarra}" readonly>
                                </div>
                            </div>
                            <p class="sub-legend">Dimensões</p>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="altura">Altura</label>
                                    <input class="p" type="text" id="altura" th:field="*{altura}" readonly>
                                </div>
                                <div class="campo esp">
                                    <label for="largura">Largura</label>
                                    <input class="p" type="text" id="largura" th:field="*{largura}" readonly>
                                </div>
                                <div class="campo esp">
                                    <label for="peso">Peso</label>
                                    <input class="p" type="text" id="peso" th:field="*{peso}" readonly>
                                </div>
                                <div class="campo">
                                    <label for="profundidade">Profundidade</label>
                                    <input class="p" type="text" id="profundidade" th:field="*{profundidade}" readonly>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <form class="perfil" th:action="@{/compras/add-carrinho/{id}/{clienteId}(id=${livro.id}, clienteId=${cliente.id})}" th:object="${compraLivro}">
                    <div class="dados-form">
                        <p class="sub-legend">Em estoque</p>
                        <fieldset class="compra">
                            <div class="campo">
                                <label for="quantidade">Quantidade</label>
                                <input class="quant" type="text" id="quantidade" th:field="*{quantidade}" required>
                            </div>
                            <div class="div-botao">
                                <input type="submit" class="botao" value="Adicionar ao carrinho">
                            </div>
                        </fieldset>
                    </div>
                </form>
                <div class="div-botao">
                    <a th:href="@{/livros/principal/{clienteId}(clienteId=${cliente.id})}" class="botao">Voltar</a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>