<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/entrar.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="logo"></div>
            <h2>ReadMore Books</h2>
        </div>
    </header>
    <main>
        <div class="caixa">
            <div class="titulo">
                <p>Fazer login</p>
            </div>
            <form action="">
                <div class="dados-form">
                    <fieldset>
                        <div class="campo">
                            <label for="email">E-mail</label>
                            <input type="text" id="email" required>
                        </div>
                        <div class="campo">
                            <label for="senha">Senha</label>
                            <input type="text" id="senha" required>
                        </div>
                    </fieldset>
                </div>
                <div class="div-botao">
                    <input type="submit" class="botao" value="Entrar">
                </div>
            </form>
            <div class="div-redirec">
                <p class="red-cadastrar">Não tem uma conta? <a class="redirecionamento" href="cadastro-cliente.html">Cadastre-se</a></p>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>