<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/lista-livros.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container" class="admin">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="logo"></div>
            <h2>ReadMore Books</h2>
        </div>
    </header>
    <main>
        <div class="menu">
            <div class="listagem">
                <div class="div-tabela">
                    <table class="tabela">
                        <thead>
                        <tr>
                            <th>Clientes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/clientes/lista-cliente}">Lista de clientes</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/compras/lista-venda}">Lista de vendas</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/compras/lista-troca}">Lista de trocas</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="div-tabela">
                    <table class="tabela">
                        <thead>
                        <tr>
                            <th>Livros</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/livros/lista-livro}">Lista de livros</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/livros/add-livro}">Cadastrar livro</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="div-tabela">
                    <table class="tabela">
                        <thead>
                        <tr>
                            <th>Gerenciamento</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/admin/dashboard}">Dashboard</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/livros/lista-livro}">Grupo de precificação</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="conteudo">
            <div class="caixa">
                <div class="titulo">
                    <p>Filtros de pesquisa</p>
                </div>
                <form>
                    <div class="dados-form">
                        <fieldset>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="titulo">Título</label>
                                    <input class="g" type="text" id="titulo">
                                </div>
                                <div class="campo">
                                    <label for="editora">Editora</label>
                                    <input class="g" type="text" id="editora">
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="autor">Autor</label>
                                    <input class="g" type="text" id="autor">
                                </div>
                                <div class="campo esp">
                                    <label for="ano">Ano</label>
                                    <input class="p" type="text" id="ano">
                                </div>
                                <div class="campo">
                                    <label for="edicao">Edição</label>
                                    <input class="p" type="text" id="edicao">
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="isbn">ISBN</label>
                                    <input class="g" type="text" id="isbn">
                                </div>
                                <div class="campo esp">
                                    <label for="n_paginas">Número de páginas</label>
                                    <input class="p" type="text" id="n_paginas">
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo">
                                    <p class="titulo_opcao">Categoria</p>
                                    <div class="opcao_bloco">
                                        <input type="checkbox" id="romance" name="categoria" value="romance" class="opcao_input">
                                        <label for="romance" class="opcao">Romance</label>
                                        <input type="checkbox" id="aventura" name="categoria" value="aventura" class="opcao_input">
                                        <label for="aventura" class="opcao">Aventura</label>
                                        <input type="checkbox" id="suspense" name="categoria" value="suspense" class="opcao_input">
                                        <label for="suspense" class="opcao">Suspense</label>
                                        <input type="checkbox" id="terror" name="categoria" value="terror" class="opcao_input">
                                        <label for="terror" class="opcao">Terror</label>
                                        <input type="checkbox" id="ficcao" name="categoria" value="ficcao" class="opcao_input">
                                        <label for="ficcao" class="opcao">Ficção científica</label>
                                    </div>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="preco">Preço</label>
                                    <input class="p" type="text" id="preco">
                                </div>
                                <div class="campo esp">
                                    <label for="cod_barras">Código de barras</label>
                                    <input class="g" type="text" id="cod_barras">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="div-botao">
                        <input type="submit" class="botao" value="Pesquisar">
                    </div>
                </form>
            </div>
            <div th:switch="${livros}" class="listagem">
                <div class="div-tabela">
                    <table class="tabela">
                        <tbody>
                        <tr th:each="livro : ${livros}">
                            <td><img th:src="@{/img/livro.png}" alt="" class="livro"></td>
                            <td th:text="${livro.titulo}" class="nome"></td>
                            <td th:text="${livro.edicao}" class="edicao"></td>
                            <td th:text="${livro.preco}" class="preco"></td>
                            <td th:text="${livro.ativo}" class="ativo"></td>
                            <td class="botao-acao"><a th:href="@{/livros/detalhes-livro-admin/{id}(id=${livro.id})}" class="botao">Detalhes</a></td>
                            <td class="botao-acao"><a th:href="@{/livros/justificativa-inativacao/{id}(id=${livro.id})}" class="botao">Inativar/Ativar</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>