<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/perfil-cliente.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container" class="cliente">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="marca">
                <div class="logo"></div>
                <h2><a th:href="@{/livros/principal/{clienteId}(clienteId=${cliente.id})}">ReadMore Books</a></h2>
            </div>
            <div class="user">
                <p><a>Usuário</a></p>
                <p>
                    <a th:href="@{/compras/lista-compra/{clienteId}(clienteId=${cliente.id})}"><img th:src="@{/img/sacolas-compras.png}" alt="" class="carrinho"></a>
                </p>
                <a th:href="@{/compras/carrinho-compras/{clienteId}(clienteId=${cliente.id})}"><img th:src="@{/img/carrinho-compras.png}" alt="" class="carrinho"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="menu">
            <div class="listagem">
                <div class="div-tabela">
                    <table class="tabela">
                        <thead>
                        <tr>
                            <th>Menu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/livros/principal/{clienteId}(clienteId=${cliente.id})}">Início</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/clientes/perfil-cliente/{clienteId}(clienteId=${cliente.id})}">Perfil de usuário</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/compras/cupons/{clienteId}(clienteId=${cliente.id})}">Cupons disponíveis</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/compras/lista-compra/{clienteId}(clienteId=${cliente.id})}">Histórico de pedidos</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="conteudo">
            <div class="caixa">
                <div class="titulo">
                    <p>Dados do usuário</p>
                </div>
                <form class="perfil" th:object="${cliente}">
                    <div class="dados-form">
                        <fieldset>
                            <legend class="sub-categorias">Dados pessoais</legend>
                            <div class="botao-editar">
                                <a th:href="@{/clientes/editar-dados/{id}(id=${cliente.id})}" class="editar">Editar</a>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="nome">Nome completo</label>
                                    <input th:field="*{nome}" class="g" type="text" id="nome" readonly>
                                </div>
                                <div class="campo">
                                    <label for="genero">Gênero</label>
                                    <input th:field="*{genero}" type="text" class="p" id="genero" value="" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label for="dt_nascimento">Data de nascimento</label>
                                    <input th:field="*{dataNascimento}" class="p" type="text" id="dt_nascimento" value="" readonly>
                                </div>
                                <div class="campo esp">
                                    <label for="cpf">CPF</label>
                                    <input th:field="*{cpf}" class="p" type="text" id="cpf" value="" readonly>
                                </div>
                                <div class="campo">
                                    <label for="tel">Telefone</label>
                                    <input th:field="*{telefone}" class="p" type="text" id="tel" value="" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo">
                                    <label for="email">E-mail</label>
                                    <input th:field="*{email}" class="g" type="text" id="email" value="" readonly>
                                </div>
                            </div>
                            <div class="coluna">
                                <div class="campo esp">
                                    <label >Senha</label>
                                    <a th:href="@{/clientes/editar-senha/{id}(id=${cliente.id})}" class="alt-senha">Alterar senha</a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="sub-categorias">Endereços</legend>
                            <div class="botao-editar">
                                <a th:href="@{/clientes/add-endereco/{id}(id=${cliente.id})}" class="editar">Adicionar</a>
                            </div>
                            <table>
                                <thead>
                                <tr>
                                    <th>Tipo de endereço</th>
                                    <th>Logradouro</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>Número</th>
                                    <th>Complemento</th>
                                    <th>Observações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="end : ${cliente.enderecosVinculados}">
                                    <td th:text="${end.tipoEndereco}"></td>
                                    <td th:text="${end.logradouro}"></td>
                                    <td th:text="${end.bairro}"></td>
                                    <td th:text="${end.nomeCidade}"></td>
                                    <td th:text="${end.numero}"></td>
                                    <td th:text="${end.complemento}"></td>
                                    <td th:text="${end.observacoes}"></td>
                                    <td><a th:href="@{/clientes/editar-endereco/{id}(id=${end.id})}" class="editar">Editar</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset>
                            <legend class="sub-categorias">Cartão de crédito</legend>
                            <div class="botao-editar">
                                <a th:href="@{/clientes/add-cartao/{id}(id=${cliente.id})}" class="editar">Adicionar</a>
                            </div>
                            <table>
                                <thead>
                                <tr>
                                    <th>Bandeira</th>
                                    <th>Número</th>
                                    <th>Código de segurança</th>
                                    <th>Nome impresso no cartão</th>
                                    <th>Preferencial</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cartaoC : ${cliente.cartoesVinculados}">
                                    <td th:text="${cartaoC.bandeira}" class="nome"></td>
                                    <td th:text="${cartaoC.numero}" class="cpf"></td>
                                    <td th:text="${cartaoC.cvv}" class="telefone"></td>
                                    <td th:text="${cartaoC.nomeImpresso}" class="email"></td>
                                    <td><a th:href="@{/clientes/editar-cartao/{id}(id=${cartaoC.id})}" class="editar">Editar</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    <div class="div-botao">
                        <a th:href="@{/livros/principal}" class="botao">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>