<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/perfil-cliente.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="logo"></div>
            <h2>ReadMore Books</h2>
        </div>
    </header>
    <main>
        <div class="caixa">
            <div class="titulo">
                <p>Dados do usuário</p>
            </div>
            <div class="perfil">
                <div class="dados-form">
                    <fieldset>
                        <legend class="sub-categorias">Dados pessoais</legend>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Nome completo</label>
                                <p class="dados">Joyce Silveira dos Santos</p>
                            </div>
                            <div class="campo">
                                <label>Gênero</label>
                                <p class="dados">Feminino</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Data de nascimento</label>
                                <p class="dados">10/04/2001</p>
                            </div>
                            <div class="campo esp">
                                <label>CPF</label>
                                <p class="dados">000.000.000-00</p>
                            </div>
                            <div class="campo">
                                <label>Telefone</label>
                                <p class="dados">(11)99999-9999</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>E-mail</label>
                                <p class="dados">joyce@hotmail.com</p>
                            </div>
                            <div class="campo">
                                <label>Senha</label>
                                <p class="dados">********</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="sub-categorias">Endereços</legend>
                        <p class="sub-legend">Entrega</p>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Tipo de residência</label>
                                <p class="dados">Casa</p>
                            </div>
                            <div class="campo">
                                <label>Tipo de logradouro</label>
                                <p class="dados">Rua</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Logradouro</label>
                                <p class="dados">Dr. Deodato</p>
                            </div>
                            <div class="campo">
                                <label>CEP</label>
                                <p class="dados">00000-000</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Número</label>
                                <p class="dados">000</p>
                            </div>
                            <div class="campo esp">
                                <label>Complemento</label>
                                <p class="dados">00</p>
                            </div>
                            <div class="campo">
                                <label>Bairro</label>
                                <p class="dados">Centro</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Cidade</label>
                                <p class="dados">Mogi das Cruzes</p>
                            </div>
                            <div class="campo esp">
                                <label>Estado</label>
                                <p class="dados">SP</p>
                            </div>
                            <div class="campo">
                                <label>País</label>
                                <p class="dados">Brasil</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo">
                                <label>Observações</label>
                                <p class="dados">Próximo a Fatec</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="sub-categorias">Endereços</legend>
                        <p class="sub-legend">Cobrança</p>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Tipo de residência</label>
                                <p class="dados">Casa</p>
                            </div>
                            <div class="campo">
                                <label>Tipo de logradouro</label>
                                <p class="dados">Rua</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Logradouro</label>
                                <p class="dados">Dr. Deodato</p>
                            </div>
                            <div class="campo">
                                <label>CEP</label>
                                <p class="dados">00000-000</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Número</label>
                                <p class="dados">000</p>
                            </div>
                            <div class="campo esp">
                                <label>Complemento</label>
                                <p class="dados">00</p>
                            </div>
                            <div class="campo">
                                <label>Bairro</label>
                                <p class="dados">Centro</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Cidade</label>
                                <p class="dados">Mogi das Cruzes</p>
                            </div>
                            <div class="campo esp">
                                <label>Estado</label>
                                <p class="dados">SP</p>
                            </div>
                            <div class="campo">
                                <label>País</label>
                                <p class="dados">Brasil</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo">
                                <label>Observações</label>
                                <p class="dados">Próximo a Fatec</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="sub-categorias">Cartão de crédito</legend>
                        <div class="coluna">
                            <div class="campo esp">
                                <label>Bandeira</label>
                                <p class="dados">Mastercard</p>
                            </div>
                            <div class="campo esp">
                                <label>Número</label>
                                <p class="dados">0000000000000</p>
                            </div>
                            <div class="campo">
                                <label>Código de segurança</label>
                                <p class="dados">000</p>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo">
                                <div class="campo">
                                    <label>Nome impresso no cartão</label>
                                    <p class="dados">Joyce Silveira dos Santos</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="div-botao">
                    <input type="submit" class="botao" value="Entrar">
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>