<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!--<link th:href="@{/css/cadastro-cliente.css}" rel="stylesheet">-->
    <link th:href="@{/css/update-cartao.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container" class="cliente">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="marca">
                <div class="logo"></div>
                <h2><a th:href="@{/livros/principal/{clienteId}(clienteId=${cartao.cliente.id})}">ReadMore Books</a></h2>
            </div>
            <div class="user">
                <p><a>Usuário</a></p>
                <p>
                    <a th:href="@{/compras/lista-compra/{clienteId}(clienteId=${cartao.cliente.id})}"><img th:src="@{/img/sacolas-compras.png}" alt="" class="carrinho"></a>
                </p>
                <a th:href="@{/compras/carrinho-compras/{clienteId}(clienteId=${cartao.cliente.id})}"><img th:src="@{/img/carrinho-compras.png}" alt="" class="carrinho"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="caixa">
            <div class="titulo">
                <p class="update">Atualizar cartão</p>
            </div>
            <form method="post" th:action="@{/clientes/atualizar-cartao/{id}/{clienteId}(id=${cartao.id}, clienteId = ${cartao.cliente.id})}" th:object="${cartao}">
                <div class="dados-form">
                    <fieldset>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="bandeira">Bandeira</label>
                                <select th:field="*{bandeira}" class="p" name="bandeira" id="bandeira">
                                    <option value="MASTERCARD">Mastercard</option>
                                    <option value="VISA">Visa</option>
                                    <option value="ELO">Elo</option>
                                    <option value="AMERICAN_EXPRESS">American express</option>
                                    <option value="HIPERCARD">Hipercard</option>
                                </select>
                            </div>
                            <div class="campo esp">
                                <label for="num_card">Número</label>
                                <input th:field="*{numero}" class="p" type="text" id="num_card">
                            </div>
                            <div class="campo">
                                <label for="cod_seguranca">Código de segurança</label>
                                <input th:field="*{cvv}" class="p" type="text" id="cod_seguranca">
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo">
                                <div class="campo">
                                    <label for="nome_card">Nome impresso no cartão</label>
                                    <input th:field="*{nomeImpresso}" class="p" type="text" id="nome_card">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="div-botao">
                    <input type="submit" class="botao" value="Salvar">
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>