<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/cadastro-cliente.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="logo"></div>
            <h2>ReadMore Books</h2>
        </div>
    </header>
    <main>
        <div class="caixa">
            <div class="titulo">
                <p class="cadastrar">Alteração de senha</p>
            </div>
            <form th:action="@{/clientes/atualizar-dados/{id}(id=${cliente.id})}" th:object="${cliente}" method="post">
                <div class="dados-form">
                    <fieldset>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="senha">Nova senha</label>
                                <input th:field="*{senha}" class="p" type="text" id="senha" required>
                            </div>
                            <div class="campo">
                                <label for="rep-senha">Digite a nova senha novamente</label>
                                <input th:field="*{senhaConfirmacao}" class="p" type="text" id="rep-senha" required>
                            </div>
                        </div>
                        <p class="info-senha">
                            <p>* A senha deve ser composta de no mínimo 8 caractereres, contendo pelo menos:</p>
                            <p>1 letra maiúscula</p>
                            <p>1 letra minúscula</p>
                            <p>1 caracter especial.</p>
                        </p>
                    </fieldset>
                </div>
                <div class="div-botao">
                    <input type="submit" class="botao" value="Salvar">
                </div>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>