<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ReadMore Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!--<link th:href="@{/css/cadastro-cliente.css}" rel="stylesheet">
    <link th:href="@{/css/cadastro-livro.css}" rel="stylesheet">-->
    <link th:href="@{/css/update-livro.css}" rel="stylesheet">
</head>
<body id="page-landing">
<div id="container" class="admin">
    <header class="page-header">
        <div class="top-bar-container">
            <div class="logo"></div>
            <h2>ReadMore Books</h2>
        </div>
    </header>
    <main>
        <div class="caixa">
            <div class="titulo">
                <p class="editar">Editar livro</p>
            </div>
            <form action="">
                <div class="dados-form">
                    <fieldset>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="titulo">Título</label>
                                <input class="g" type="text" id="titulo" required>
                            </div>
                            <div class="campo">
                                <label for="editora">Editora</label>
                                <input class="g" type="text" id="editora" required>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="autor">Autor</label>
                                <input class="g" type="text" id="autor" required>
                            </div>
                            <div class="campo esp">
                                <label for="ano">Ano</label>
                                <input class="p" type="text" id="ano" required>
                            </div>
                            <div class="campo">
                                <label for="edicao">Edição</label>
                                <input class="p" type="text" id="edicao" required>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="isbn">ISBN</label>
                                <input class="g" type="text" id="isbn" required>
                            </div>
                            <div class="campo esp">
                                <label for="n_paginas">Número de páginas</label>
                                <input class="p" type="text" id="n_paginas" required>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="sinopse">Sinopse</label>
                                <textarea name="" id="sinopse" cols="60" rows="5" required></textarea>
                            </div>
                            <div class="campo">
                                <p class="titulo_opcao">Categoria</p>
                                <div class="opcao_bloco">
                                    <input type="checkbox" id="romance" name="categoria" value="romance" class="opcao_input" required>
                                    <label for="romance" class="opcao">Romance</label>
                                    <input type="checkbox" id="aventura" name="categoria" value="aventura" class="opcao_input">
                                    <label for="aventura" class="opcao">Aventura</label>
                                    <input type="checkbox" id="suspense" name="categoria" value="suspense" class="opcao_input">
                                    <label for="suspense" class="opcao">Suspense</label>
                                    <input type="checkbox" id="terror" name="categoria" value="terror" class="opcao_input">
                                    <label for="terror" class="opcao">Terror</label>
                                    <input type="checkbox" id="ficcao" name="categoria" value="ficcao" class="opcao_input">
                                    <label for="ficcao" class="opcao">Ficção científica</label>
                                </div>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="g_precificação">Grupo de precificação</label>
                                <input class="p" type="text" id="g_precificação" required>
                            </div>
                            <div class="campo esp">
                                <label for="preco">Preço</label>
                                <input class="p" type="text" id="preco" required>
                            </div>
                            <div class="campo esp">
                                <label for="cod_barras">Código de barras</label>
                                <input class="g" type="text" id="cod_barras" required>
                            </div>
                        </div>
                        <p class="sub-legend">Dimensões</p>
                        <div class="coluna">
                            <div class="campo esp">
                                <label for="altura">Altura</label>
                                <input class="p" type="text" id="altura" required>
                            </div>
                            <div class="campo esp">
                                <label for="largura">Largura</label>
                                <input class="p" type="text" id="largura" required>
                            </div>
                            <div class="campo esp">
                                <label for="peso">Peso</label>
                                <input class="p" type="text" id="peso" required>
                            </div>
                            <div class="campo">
                                <label for="profundidade">Profundidade</label>
                                <input class="p" type="text" id="profundidade" required>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="div-botao">
                    <input type="submit" class="botao" value="Salvar">
                </div>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>